<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
        <clear />
        <add name="CheckLedge" connectionString="Data Source=.\DESKTOP-MQMCCBV\YTTRIUM;Initial Catalog=DatabaseCheckLedge_master;Integrated Security=True;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
        <add name="CheckLedge.Properties.Settings.CheckLedge_masterConnectionString"
            connectionString="Data Source=DESKTOP-MQMCCBV\YTTRIUM;Initial Catalog=CheckLedge_master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>